In [211]:
import pandas as pd

In [212]:
file = "environmental-dataset.csv"
dataset = pd.read_csv(file)

In [213]:
dataset = dataset[dataset['Country'] == 'UNITED STATES OF AMERICA']

In [214]:
dataset.drop(columns='Year', inplace=True)

In [215]:
dataset.drop(columns=['Environmental Intensity (Sales)', 'Environmental Intensity (Op Inc)'], inplace=True)

In [216]:
dataset.drop(columns=['Working Capacity', 'Fish Production Capacity', 'Crop Production Capacity', 'Meat Production Capacity'], inplace=True)

In [217]:
dataset

,Company Name,Country,GICS Sub-Industry,Industry (Exiobase),Total Environmental Cost,Biodiversity,Abiotic Resources,Water production capacity (Drinking water & Irrigation Water),Wood Production Capacity,SDG 1.5,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
39,3M CO,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),"-2,05,93,33,929","-75,231","-32,643","-22,56,48,744","10,010","-80,38,54,682",...,"-22,56,48,744","-32,643",-470,-217,"-2,06,069",-561,"5,005","5,005","-74,755",1%
44,HONEYWELL INTERNATIONAL INC,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),"-63,50,97,559","-26,277","-37,288","-33,88,119","11,434","-27,66,94,094",...,"-33,88,119","-37,288",-537,-247,"-72,172",-640,"5,717","5,717","-25,733",4%
47,GENERAL ELECTRIC CO,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),"-85,90,17,137","-30,843","-96,717","-13,19,64,244","29,657","-31,64,04,430",...,"-13,19,64,244","-96,717","-1,394",-641,"-84,689","-1,661","14,829","14,829","-29,432",7%
56,SOUTHWEST AIRLINES,UNITED STATES OF AMERICA,Airlines,Air transport (62),"-6,85,40,33,051","-2,77,237","-10,73,726","-3,92,10,462","25,909","-2,92,03,70,902",...,"-3,92,10,462","-10,73,726",-7,"-17,445","-7,30,911",-9,"12,954","12,954","-2,77,229",5%
57,ALASKA AIR GROUP INC,UNITED STATES OF AMERICA,Airlines,Air transport (62),"-2,64,04,09,987","-1,10,732","-4,20,385","-1,38,31,827","1,11,751","-1,12,95,63,970",...,"-1,38,31,827","-4,20,385","-3,440","-6,830","-2,94,806","-4,101","55,875","55,875","-1,07,249",5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14001,TIFFANY & CO,UNITED STATES OF AMERICA,Specialty Stores,"Retail trade, except of motor vehicles and mo...","-1,29,80,379",-564,"-1,826","-69,636",951,"-56,92,538",...,"-69,636","-1,826",-35,-5,"-1,563",-41,476,476,-529,8%
14007,EBAY INC,UNITED STATES OF AMERICA,Internet & Direct Marketing Retail,"Retail trade, except of motor vehicles and mo...","1,73,12,091",599,"-5,411","92,836","2,820","75,55,815",...,"92,836","-5,411",-103,-15,"1,607",-122,"1,410","1,410",703,20%
14015,OVERSEAS SHIPHOLDING GROUP,UNITED STATES OF AMERICA,Oil & Gas Storage & Transportation,Transport via pipelines,"25,58,82,691","-49,142","-4,66,142","13,66,385","14,50,672","9,62,44,471",...,"13,66,385","-4,66,142","-49,876","-2,791","-2,64,642","-59,448","7,25,336","7,25,336","1,352",2%
14022,UNITED NATURAL FOODS INC,UNITED STATES OF AMERICA,Food Distributors,"Wholesale trade and commission trade, except ...","-3,81,25,940","-1,603","-2,898","-3,56,773","1,505","-1,66,41,387",...,"-3,56,773","-2,898",-55,-8,"-4,423",-65,753,753,"-1,547",5%
14024,MCKESSON CORP,UNITED STATES OF AMERICA,Health Care Distributors,"Wholesale trade and commission trade, except ...","-4,51,33,746","-1,846","-83,836","-24,84,957","1,711","-1,68,45,016",...,"-24,84,957","-83,836",-168,-230,"-6,080",-200,856,856,"-1,677",10%

In [218]:
dataset['% Imputed'] = dataset['% Imputed'].str.replace('%', '').astype(float) / 100

In [219]:
dataset.rename(columns={'% Imputed': 'Environmental Index'}, inplace=True)

In [220]:
dataset.drop(columns='Wood Production Capacity', inplace=True)

In [221]:
dataset.dropna(inplace=True)

In [222]:
dataset['Total Environmental Cost'] = dataset['Total Environmental Cost'].str.replace(',', '').astype(int)
dataset['Total Environmental Cost'] = dataset['Total Environmental Cost'] + abs(dataset['Total Environmental Cost'].min())

In [223]:
dataset['Total Environmental Cost'] = dataset['Total Environmental Cost'] / (dataset['Total Environmental Cost'].max())

In [224]:
dataset['Biodiversity'] = dataset['Biodiversity'].str.replace(',', '').astype(int)
dataset['Biodiversity'] = dataset['Biodiversity'] + abs(dataset['Biodiversity'].min())
dataset['Biodiversity'] = dataset['Biodiversity'] / (dataset['Biodiversity'].max())

In [225]:
dataset.drop(columns='Water production capacity (Drinking water & Irrigation Water)', inplace=True)

In [226]:
import numpy as np

columns = ['Abiotic Resources', 'SDG 1.5', 'SDG 2.1', 'SDG 2.2', 'SDG 2.3', 'SDG 2.4', 'SDG 3.3', 'SDG 3.4', 'SDG 3.9', 'SDG 6', 'SDG 12.2','SDG 14.2','SDG 14.3', 'SDG 15.1', 'SDG 15.2', 'SDG 15.5']

for c in columns:
    print(c)
    dataset[c] = dataset[c].str.replace(',', '').astype(int)
    dataset[c] = dataset[c] + abs(dataset[c].min())
    dataset[c] = dataset[c] / (dataset[c].max())

Abiotic Resources
SDG 1.5
SDG 2.1
SDG 2.2
SDG 2.3
SDG 2.4
SDG 3.3
SDG 3.4
SDG 3.9
SDG 6
SDG 12.2
SDG 14.2
SDG 14.3
SDG 15.1
SDG 15.2
SDG 15.5

In [229]:
dataset['SDG 14.1'] = dataset['SDG 14.1'].str.replace(',', '')
dataset['SDG 14.1'] = dataset['SDG 14.1'].replace(' -   ', np.nan)

In [232]:
dataset.dropna(inplace=True)

In [233]:
dataset['SDG 14.1'] = dataset['SDG 14.1'].astype(int)
dataset['SDG 14.1'] = dataset['SDG 14.1'] + abs(dataset['SDG 14.1'].min())
dataset['SDG 14.1'] = dataset['SDG 14.1'] / (dataset['SDG 14.1'].max())

In [235]:
dataset['SDG 14.c'] = dataset['SDG 14.c'].str.replace(',', '')
dataset['SDG 14.c'] = dataset['SDG 14.c'].replace(' -   ', np.nan)
dataset.dropna(inplace=True)
dataset['SDG 14.c'] = dataset['SDG 14.c'].astype(int)
dataset['SDG 14.c'] = dataset['SDG 14.c'] + abs(dataset['SDG 14.c'].min())
dataset['SDG 14.c'] = dataset['SDG 14.c'] / (dataset['SDG 14.c'].max())

In [241]:
dataset

,Company Name,Country,GICS Sub-Industry,Industry (Exiobase),Total Environmental Cost,Biodiversity,Abiotic Resources,SDG 1.5,SDG 2.1,SDG 2.2,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,Environmental Index
39,3M CO,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),0.840251,0.956226,0.999901,0.846151,0.956312,0.956285,...,0.604745,0.999901,0.998804,0.996649,0.958718,0.998802,0.021537,0.021537,0.854811,0.01
44,HONEYWELL INTERNATIONAL INC,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),0.867976,0.982025,0.999887,0.871560,0.982051,0.982034,...,0.608897,0.999887,0.998634,0.996186,0.983006,0.998634,0.021658,0.021658,0.879947,0.04
47,GENERAL ELECTRIC CO,UNITED STATES OF AMERICA,Industrial Conglomerates,Activities of membership organisation n.e.c. (91),0.863617,0.979619,0.999707,0.869646,0.979714,0.979695,...,0.606495,0.999707,0.996453,0.990102,0.980736,0.996454,0.023203,0.023203,0.878050,0.07
56,SOUTHWEST AIRLINES,UNITED STATES OF AMERICA,Airlines,Air transport (62),0.746912,0.849768,0.996752,0.744136,0.855845,0.855788,...,0.608228,0.996752,0.999982,0.730629,0.863514,0.999981,0.022885,0.022885,0.750995,0.05
57,ALASKA AIR GROUP INC,UNITED STATES OF AMERICA,Airlines,Air transport (62),0.828939,0.937517,0.998729,0.830452,0.939731,0.939705,...,0.608702,0.998729,0.991247,0.894537,0.942622,0.991246,0.030163,0.030163,0.838150,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14001,TIFFANY & CO,UNITED STATES OF AMERICA,Specialty Stores,"Retail trade, except of motor vehicles and mo...",0.880087,0.995576,0.999995,0.884622,0.995572,0.995567,...,0.608959,0.999995,0.999911,0.999923,0.995814,0.999912,0.020769,0.020769,0.892870,0.08
14007,EBAY INC,UNITED STATES OF AMERICA,Internet & Direct Marketing Retail,"Retail trade, except of motor vehicles and mo...",0.880677,0.996189,0.999984,0.885260,0.996185,0.996182,...,0.608962,0.999984,0.999738,0.999768,0.996390,0.999740,0.020928,0.020928,0.893501,0.20
14015,OVERSEAS SHIPHOLDING GROUP,UNITED STATES OF AMERICA,Oil & Gas Storage & Transportation,Transport via pipelines,0.885321,0.969975,0.998590,0.889535,0.963829,0.963816,...,0.608986,0.998590,0.873096,0.956904,0.948093,0.873097,0.143680,0.143680,0.893834,0.02
14022,UNITED NATURAL FOODS INC,UNITED STATES OF AMERICA,Food Distributors,"Wholesale trade and commission trade, except ...",0.879598,0.995029,0.999991,0.884094,0.995024,0.995019,...,0.608953,0.999991,0.999860,0.999876,0.995296,0.999861,0.020816,0.020816,0.892348,0.05
14024,MCKESSON CORP,UNITED STATES OF AMERICA,Health Care Distributors,"Wholesale trade and commission trade, except ...",0.879461,0.994901,0.999746,0.884084,0.994892,0.994888,...,0.608914,0.999746,0.999573,0.996449,0.994995,0.999573,0.020834,0.020834,0.892281,0.10

In [242]:
dataset.to_csv('clean-environmental-dataset.csv', index=False)